// Mixins in here


.display_flex(@justify, @align) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.dashed_bottom_border() {
    border-bottom: 2px dashed #c0c0c0;
}

.button(@bg-color, @color) {
    background-color: @bg-color;
    color: @color;
    border-radius: 10px;

    text-align: center;

    display: inline-block;
    width: 80%;

    font-size: 1.8rem;
    line-height: 2em;

    text-decoration: none;

    &:hover {
        background-color: lighten(@bg-color, 5%);
    }

}